# Backend
SPRING_PROFILES_ACTIVE=local
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/project_pulse?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=projectpulse
SPRING_DATASOURCE_PASSWORD=projectpulse

# Frontend
VITE_API_BASE_URL=http://localhost:8080

